  <div x-show="landmarks.length>0" class="p-6 max-w-2xl mx-auto">
    <h2 class="text-sm font-medium text-gray-500"></h2>
    <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-2">
      <template x-for="landmark in landmarks" >
        <li class="col-span-1 flex rounded-md shadow-sm">
          <div x-show="landmark.initials" class="flex w-16 shrink-0 items-center justify-center rounded-l-md text-sm font-medium text-white bg-indigo-600">
            <span x-text="landmark.initials"></span>
          </div>
          <div class="flex flex-1 items-center justify-between truncate rounded-r-md border border-gray-200 bg-white">
            <div class="flex-1 truncate px-4 py-2 text-sm">
              <button @click="createDescription(landmark)" type="button" class="font-medium text-gray-900 hover:text-gray-600" x-text="landmark.name"></button>
              <p class="text-gray-500" x-text="landmark.description"></p>
            </div>
            <div class="shrink-0 pr-2">
              <button type="button" class="inline-flex size-8 items-center justify-center rounded-full bg-transparent bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Open options</span>
                <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                </svg>
              </button>
            </div>
          </div>
        </li>
      </template>
    </ul>
  </div>
